html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway', sans-serif;
}


h1,h2,h3,h4,h5,h6{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

article,p{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight: 300;
	text-align:justify;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin:0;
 font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
#container .box {
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}

#container {
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:transparent;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
}


#home{
	 background-image: url(../images/background-home.png);
}

#bncv{
	background-image: url(../images/background-bncv.png);
}

#servicos{
	background-image: url(../images/background-servicos.png);
}

#eventos{
	background-image: url(../images/background-eventos.png);
}

#blog{
	background-image: url(../images/background-blog.png);
}

#contactos{
	background-image: url(../images/background-contactos.png);
}
/* NAVBAR */
#myNavBar{
	padding-left: 50px;
	height: 68px;
}

.menu-opened{
    width: 100%;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    height: 68px;
}

.nav-link{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color:rgba(102,51,0,1);
	opacity:0.6;
}

.nav-link:hover, .active{
	color:rgba(102,51,0,1);
	opacity:1;
}
.nav-item{
	padding-left: 2.5rem;
}

/* ICON-BAR */
.icon-bar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    overflow: hidden;
}

.icon{
	width:100%;
	display:block;
	cursor:pointer;
	font-size: 40px;
}
.socials{
	cursor:pointer;
	font-size:32px;
}

.socials-container, .home-container{
	margin-left:0px;
	margin-right:0px;
	padding:0;
	display:block;
	width:100%;
	text-align:center;
}

.socials-container{
	position: fixed;
	bottom:0;
	width:60px;
}

span a:hover{
	opacity:0.7;
}

/* COLORS */
.icon-bar-castanho-claro {
    background-color: rgba(153,102,0,1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.icon-bar-castanho-mais-claro {
    background-color: rgba(204,153,51,1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.icon-bar-salmao {
    background-color: rgba(255,153,102,1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.icon-bar-castanho {
    background-color: rgba(96,65,3,1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.icon-bar-amarelo {
    background-color: rgba(255,204,0,1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.icon-bar-branco{

	background-color: rgba(255,255,255,1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.amarelo{
	color: rgba(255,204,0,1);
	    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.castanho-claro{
color: rgba(153,102,0,1);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.castanho-mais-claro{
	color: rgba(227,221,200,1);
	    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.castanho{
	color: rgba(102,51,0,1);
	    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.salmao{
	color: rgba(255,153,102,1);
	    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.branco{
	color: white;
	    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.cinza{
	color: grey;
}


/* PARALLAX */
.parallax { 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Translating the content's X ruines the scrollbar length. */
/*
#container {
  overflow:scroll;
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(-90deg) translateX(-100vw);
  transform-origin: top left;
  white-space:nowrap;
}
*/
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.5;
}

.dot-active, .dot:hover {
 opacity: 1;
}

.dot-container {
	position:absolute;
	z-index:1000;
	top:50%;
	left:92%;
	text-align: center;
	padding: 20px;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */
	transform: rotate(90deg); /* Standard syntax */
}

.overlay{
	/* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 100%;
    position: absolute; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	padding-top: 80px;
	padding-left: 30px;
	
}

article{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
		  
		  -webkit-column-gap: 2.5em;
     -moz-column-gap: 2.5em;
          column-gap: 2.5em;
}

.overlay-footer{
	position:absolute;
	z-index:1000;
	text-align: center;
}

.overlay-container{
	position: relative;
	height:100%;
	width:100%;
	overflow-x: hidden;
	white-space:normal !important; 
}

.overlay-footer-btn {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  opacity: 0.5;
}


.videos{
	width:100%;
	height:100%;
}

.rounded-videos{
	overflow:hidden;
	padding-left:0px;
	padding-right:0px;
	border-radius:5%;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color:  rgba(255,153,102,1);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timeline-container {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
	position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15px;
    background-color: white;
    border: 4px solid rgba(102,51,0,1);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 10px;
    border: medium solid rgba(255,153,102,1);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 10px;
    border: medium solid rgba(255,153,102,1);
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.timeline-content {
    padding: 10px 15px;
    background-color: rgba(255,153,102,1);
    position: relative;
    border-radius: 6px;
	border-width:thin;
	border-color: rgba(255,153,102,1);
}

.timeline-paragraph{
	font-size:14px;
	font-weight:700;
	text-align:left;
	color:white;
	margin:0px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


.img-container {
  position: relative;
  width: 30%;
  border-radius:20px;
  overflow:hidden;
  transition: .5s ease;
  display:inline-block;
  margin: 10px;
  cursor:pointer;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  background-color: #008CBA;
}

.img-container:hover .img-overlay {
  opacity: 0;
  transform:scale(1.5);
}

.img-container:hover {
  transform:scale(1.1);
}

.text {
  color: white;
  font-size: 24px;
  font-weight:700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.espacos{
	width: 100%;
	margin: 0 auto;
}

.mySlides {display: none; text-align:center;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgba(255,153,102,1) !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,153,102,0.5);
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 65px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 0%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color:rgba(255,153,102,1);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: rgba(255,153,102,1) !important;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#home-main-container{
	width:100%;
	height:100%;
	padding-top: 12%;
	padding-left:10%;
	white-space:normal;
}

#servicos-main-container,#eventos-main-container{
	width:100%;
	height:100%;
	padding-top:80px;
	padding-left:30px;
	white-space:normal;
}

.front-paragraph{
	margin-top:5%;
	padding-right:60%;
	color:grey;
}

footer{
	position:fixed;
	bottom:0;
	left:8%;
}

.footer-paragraph{
	font-size:14px; 
	color:grey;
}

#search-div{
	position: fixed;
	top:2%;
	right:0;
	z-index:999;
	width:25%;
}

#searchInput{
	background-color:transparent;
	border-right-width:0px;
}

#searchInput:focus{
	box-shadow:none;
	border-bottom-color:rgb(206, 212, 218);
	border-top-color:rgb(206, 212, 218);
	border-left-color:rgb(206, 212, 218);
	border-right-color:transparent;
	
}

.search-btn{
	border-bottom-color: rgb(206, 212, 218);
	border-top-color: rgb(206, 212, 218);
	border-right-color: rgb(206, 212, 218);
}

#mainEvent{
	height:80%;
	overflow:hidden;
}

.text-container{
	background-color:grey;
	opacity:0.5;
}

.card{
	
	background-color:transparent;
}

.form-control{
	background-color:transparent;
}

#contactsContainer{
	width:100%;
	height:100%;
	padding-top:80px;
	padding-left:50px;
}

